<%= form_for @user do |f| %>
    <br />
    <% @user.errors.full_messages.each do |message| %>
        <li> <%= message %> </li>
    <% end %>
    
    <%= f.label :first_name %>
    <%= f.text_field :first_name %> <br>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %> <br>

    <%= f.label :email %> 
    <%= f.text_field :email %><br>

    <%= f.label :gender %> 
    <%= f.text_field :gender %><br>

    <%= f.label :age %> 
    <%= f.text_field :age %><br>

    <%= f.label :role %> 
    <%= f.text_field :role %><br>
    
    <br><%= f.submit %> 

<% end %>