<h1>User ID: <%= @user.id %>  </h1>
<h1>Name: <%= @user.first_name  %> <%= @user.last_name  %></h1>
<h2>Email: <%= @user.email %> </h2>
<h2>Gender: <%= @user.gender %> </h2>
<h2>Age: <%= @user.age %> </h2>
<h2>Role: <%= @user.role %> </h2>
<h2>Created at: <%= @user.created_at %> </h2>
<h2>Updated at: <%= @user.updated_at %> </h2>

<%= link_to 'Delete User', user_path(@user), method: :delete %>



