<h1>User ID: <%= @users.id %>  </h1>
<h1>Name: <%= @users.first_name  %> <%= @users.last_name  %></h1>
<h2>Email: <%= @users.email %> </h2>
<h2>Avatar: <%= @users.avatar %> </h2>
<h2>Gender: <%= @users.gender %> </h2>
<h2>Age: <%= @users.age %> </h2>
<h2>Role: <%= @users.role %> </h2>
<h2>Created at: <%= @users.created_at %> </h2>
<h2>Updated at: <%= @users.updated_at %> </h2>




