<h1>Posts ID: <%= @posts.id  %>  </h1>
<h1>User ID: <%= @posts.user_id  %>  </h1>
<h1>Category ID: <%= @posts.id  %>  </h1>
<h1>Title: <%= @posts.title  %>  </h1>
<h2>Content: <%= @posts.content %> </h2>
<h2>Created at: <%= @posts.created_at %> </h2>
<h2>Updated at: <%= @posts.updated_at %> </h2>


