<h1>Category ID: <%= @category.id  %>  </h1>
<h1>User ID: <%= @category.user_id  %>  </h1>
<h1>Title: <%= @category.title  %>  </h1>
<h2>Description: <%= @category.description %> </h2>
<h2>Created at: <%= @category.created_at %> </h2>
<h2>Updated at: <%= @category.updated_at %> </h2>

