<h1>Category ID: <%= @categories.id  %>  </h1>
<h1>User ID: <%= @categories.user_id  %>  </h1>
<h1>Title: <%= @categories.title  %>  </h1>
<h2>Description: <%= @categories.description %> </h2>
<h2>Created at: <%= @categories.created_at %> </h2>
<h2>Updated at: <%= @categories.updated_at %> </h2>


