<!DOCTYPE html>
<html>
  <head>
    <title>My new app</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


</html>
    <body>
      <div class="nav">
        <ul>
        <li><a href="http://localhost:3000/" class="nav-link">Home</a></li>
        <li><a href="http://localhost:3000/users" class="nav-link">Users</a></li>
        <li><a href="http://localhost:3000/categories" class="nav-link">Categories</a></li>
        <li><a href="http://localhost:3000/posts" class="nav-link">Posts</a></li>
        </ul>
      </div>

      <div id = "content">
        <%= yield -%>
      </div>
    </div>

    </body>