<!DOCTYPE html>
<html>
  <head>
    <title>My new app</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


</html>
    <body>
      <div class="nav">
        <ul>
        <li><a href="#" class="nav-link">Home</a></li>
        <li><a href="#" class="nav-link"><em>Act Now!</em></a></li>
        <li><a href="#" class="nav-link">FAQ</a></li>
        <li><a href="#" class="nav-link">Contact Us</a></li>
        </ul>
      </div>

      <div id = "content">
        <%= yield -%>
      </div>
    </div>

    </body>