<!DOCTYPE html>
<html>
  <head>
    <title>My new app</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


</html>
    <body>
      <div class="nav">
        <ul>
        <li><%= link_to 'Home', root_path , class: "nav-link" %></li>
        <li><%= link_to 'User', users_path(@user),class: "nav-link" %></li>
        <li><%= link_to 'Category', categories_path(@category),class: "nav-link" %></li>
        <li><%= link_to 'Post', posts_path(@post),class: "nav-link" %></li>
        </ul>
      </div>

      <div id = "content">
        <%= yield -%>
      </div>
    </div>

    </body>